.tabsBar {
  display: flex;
  justify-content: space-around;
  background-color: rgb(43, 101, 73);
  padding: 1rem;
}

.tabButton {
  background-color: rgb(43, 101, 73);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: Georgia;
  cursor: pointer;
}

.tabButton.active {
  background-color: white;
  color: rgb(43, 101, 73);
  font-weight: bold;
}